
Project 5/.vs/VSWorkspaceState.json
Project 5/.vs/slnx.sqlite
Project 5/.vs/ProjectSettings.json
Project 5/.vs/Project 5/v17/ipch/AutoPCH/e32b47eb9df086cc/PROJECT5.ipch
Project 5/.vs/Project 5/v17/ipch/AutoPCH/59f843b2104d3b8/TRIE.ipch
Project 5/.vs/Project 5/v17/Browse.VC.db
Project 5/.vs/Project 5/v17/.suo
Project 5/.vs/Project 5/FileContentIndex/read.lock
Project 5/.vs/Project 5/FileContentIndex/62054713-59e6-47b1-b6f0-b19ab6ccce04.vsidx
Project 6/script.txt
Project 6/project6.o
Project 6/HashTable.o
Project 6/Database.o
